{% extends 'app/userBase.html' %}
{% block content %}
<nav class="navbar">
</nav>
<div class="container-fluid text-center" style="margin:40px 0px">
    <div class="row align-items-center justify-content-center">
        <h1>{{title}}</h1>
        <p>Last Opened: {{lastAccessed}}</p>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-10">
            <div id="textedit">
                <form action="{% url "save" id%}" method="post" id="notes">
                    {% csrf_token %}
                    <p>
                        <a href="{%url "delete" id%}" class="btn btn-danger">Delete</a>
                        <input type="submit" value="Save Note" style="border-color:black" class="btn btn-light">
                    </p>
                    <textarea form="notes" name="text" id="textbox">{{text}}</textarea>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
