{% extends "app/base.html" %}
{% block content %}
<div class = "container-fluid text-center frontpage">
  <div class = "row" id="top">
    <div class = "col">
      <h1 class="font-size-lg">NoteWorks 5.</span> Notes <span class = "color-0">Reimagined.</span></h1>
      <h2 class="font-size-lg">Bigger. Better. Faster.</h2>
      <h3 class="font-size-lg">Join today for free.</h3>
      <a class= "fbutton" href= "{% url 'register' %}"><button type="button" class="btn btn-primary signUpButton">Sign Up</button></a>
    </div>
  </div>
  <div class="row" id="top2">
    <div class="col">
    </div>
  </div>
  {%load static%}
  <div class="row text-center align-items-center justify-content-center" id="middle">
    <div class ="col text-center" id="middletext">
      <h1>All your notes in one place.</h1>
      <h1>Now <span class="color-0">supercharged</span> with <i>NW5</i> deep search.</h1>
      <a href = "{% url 'userlogin' %}" id="homelink"><h3 class="color-2">Try now &gt;</h3></a>
    </div>
  </div>
  <div class="row text-center align-items-center justify-content-center" id="bottom">
    <div class ="col text-center">
      <h1>Powered by Next Generation AI techonology.</h1>
      <h2>Learn more &gt;</h1>
    </div>
  </div>
  <div class="row text-center align-items-center justify-content-center" id = "contact">
    <div class="col text center">
        <p>Copyright 2023 EternalBlue Corporations </p>
    </div>
  </div>
</div>

{% endblock %}