:root {
    --primary-color: #2962ff;
    --secondary-color-1: #ff857e;
    --secondary-color-2: #ffcc80;
    --secondary-color-3: #e950b7; 
    --off-color: #7c5ea3; 
    --off-color-2: #4caf50;
    --defaultbackground: url('backgrounds/wavy.svg');
}



.navbarm {
    margin: 0px 0px;
}

#searchBar {
    margin-top: 10px;
}

.ubutton {
    margin: 0px 0px 0px 30px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

img {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.caption {
    display: block;
}

.grid {
    margin: 30px 0px;
}

.notebox {
    text-decoration: none;
    color: black;
}



.logoNote {
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
}

#noteEdit {
    margin: 20px 40px;
}

#logo {
    background-color: white;
    width: 30px;
    height: 30px;
}

#textbox {
    padding: 55px;
    border-radius: 75px;
    border-color: white;
    width: 100%;
    height: 1000px;
    font-family: Helvetica; 
    font-size: 16px;
}


#textbox:onclick {
    border-color: white;
}

#titleinput {
    height: 35px;
    margin: 10px 0px;
}

.customBtn {
    background-color: grey;
    border-color: grey;
}

#noteCard {
    border-radius: 25px;
}

#backbutton {
    height: 30px;
    width: 30px;
    background-color: #f5f5f5;
    margin-right: 60px
}

#folderTitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#foldertitles {
    text-decoration: none;
    color: black;
}

.color-0 {
    color: var(--primary-color)
}

.color-off{
    color: var(--off-color)

}

/* Main Primary color */


.button1 {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white; 
}


.button2 {
    background-color: var(--secondary-color-2);
    border-color: var(--secondary-color-2);
    color: black;
}


.button3 {
    background-color: var(--secondary-color-1);
    border-color: var(--secondary-color-1);
    color: white;
}

.button4 {
    background-color: var(--secondary-color-3);
    border-color: var(--secondary-color-3);
    color: black;
}

.button5 {
    background-color: var(--off-color);
    border-color: var(--off-color);
    color: white;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover {
    background-color: grey;
    border-color: grey;

}

.bumpUp{
    transition: transform 0.3s ease;
}

.bumpUp:hover{
    transform: translateY(-10px);
}



#newButtonPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: #f5f5f5;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#noBackground {
    background-image: none !important;
}

textarea {
    /* Hide the default scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* For Firefox */
textarea::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 20px;
    border:white 2px solid; 
    padding:10px; 
}

.card-header{
    background-color: white !important;
}

.webSection {
    border: soild white 1px;
    background-color: white;
    border-radius: 50px;
    padding: 25px 10px;
    margin-bottom: 20px;
}

#wavy, #none, #polyGrid, #circles, #blob, #wavy-pink, #retro, #wavy-orange {
    height: 120px; 
    border: solid 1px white;
    padding: 10px; 
    margin: 15px; 
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    color:black;
}

#wavy{
    background-image: url('backgrounds/wavy.svg');
}


#none{
    background-image: url('backgrounds/none.svg');
}

#polyGrid{
    background-image: url('backgrounds/polyGrid.svg');
    
}

#circles{
    background-image: url('backgrounds/circles.svg');
}

#blob{
    background-image: url('backgrounds/blob.svg');
}


#wavy-pink{
    background-image: url('backgrounds/wavypink.svg');
}

#retro{
    background-image: url('backgrounds/retro.svg');
    
}

#wavy-orange{
    background-image: url('backgrounds/wavyorange.svg');
}


a{
    text-decoration: none;
}

#folderPath{
    margin-top: 10px;
    font-size: 130%;
}

p{
    margin:5px; 
}


.masonry-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px; /* Adjust as needed */
  }
  
.masonry-card {
    flex: 1;
    padding: 8px; /* Adjust as needed */
    max-width: 33.33%; /* Set to 25% for a dynamic width of 1/4 */
    min-width: 33.33%;
    box-sizing: border-box;
}


.folder.dragover{
    border: 3px solid var(--primary-color);
    size: 110%; 
}

.folder.breadcrumb-item{
    height:100%; 
}

.folder.breadcrumb-item.dragover{
    border-radius: 20px;
    padding:3px;
}

#brand{
    font-size: 120%;
}


.folder{
    height: 70px;
}

.folderTab{
    transition: all 0.3s ease;
}

.folderTab:hover{
    transform: translateX(20px);
}


#intro2, #intro3, #intro4{
    display: none;
}

#welcomeModal p{
    font-size: 115%;
}

.gridBtn{
    margin: 2.1px 0px;
}



@media (max-width: 1080px){
    .masonry-card{
        padding: 7px 15px;
        max-width: 50%;
        min-width: 50%;
    }
}


@media (max-width: 768px) {
    /* CSS rules for smaller screens */
    .masonry-card {
        flex: 1;
        padding:7px 15px;
        max-width: 100%; /* Set to 25% for a dynamic width of 1/4 */
        min-width: 100%;
        box-sizing: border-box;
    }
    .masonry-container{
        margin-top:10px;
    }

    #textbox {
        padding: 20px; 
        border-radius: 40px;
    }

}

#searchBar{
    min-width: 60%;
}

@media (max-width: 576px){
    #searchBar{
        min-width: 90%;
    }
}

#navbarProfileIcon{
    height:40px; 
    width:40px; 
    border-radius:50px;
}

#manageAccountProfilePicture{
    height:100px; 
    width:100px;
    padding:0px;
    margin: 0px; 
    border-radius: 50px;
}

.searchSuggestion{
    color:black;
    text-decoration: none;
}

.searchSuggestion:hover{
    color:gray;
}


#textedit{
    background-color:white;
    height: 685px; 
    font-size:100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
@media (max-width: 1366px){
    #textedit{
        height: 422.5px;
    }
}

.ql-toolbar.ql-snow{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.noteOptionButton{
    transition: all 0.3s ease;
}

.noteOptionButton:hover{
    transform: translateX(10px);
    transition: all 0.3s ease;
}

#textEditCol{
    padding-left:0px;
}
