:root {
  --primary-color: #2962ff;
  --secondary-color-1: #ff857e;
  --secondary-color-2: #ffcc80;
  --secondary-color-3:#e950b7;
}




.frontpage {
  color: white;
  text-align: center;
}

#navbar-custom {
  background-color: black !important;
  color: white;
}

#brand {
  color: white;
}

.navbarm {
  margin: 0px 0px;
}

.info {
  text-align: center;
}

.fbutton {
  padding: 2px 2px;
}

#logo {
  background-color: black;
  width: 30px;
  height: 30px;
}

#top {
  background-color: black;
  margin-top: 5px;

}

#top2 {
  background-image: url("./laptop.jpg");
  height: 900px;
  scale: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  
}

#middle {
  background-color: #000000;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}


#middletext {
  border: 5px solid white;
  margin: 0px 100px;
  padding: 25px;
}

.homelink {
  color: white;
  text-decoration: none;
}

:hover#trynow {
  color: var(--secondary-color-2);
}

#contact {
  background-color: lightgray;
  color: black;
  padding: 10px;
}

.color-0 {
  color: var(--primary-color)
}

/* Main Primary color  */
.color-2 {
  color: var(--secondary-color-2)
}


.homeButton:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.section {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 25px;
  padding: 5px;
}

.infobox{
  padding:200px 0px;
  margin:0px;  
}

.loginForm{
  padding:30px; 
  margin-top:30px;
}


.credentialsAlt{
  padding-top: 15px;
  color: white;
  text-decoration: none;
}



.button1 {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white; 
}


.button2 {
  background-color: var(--secondary-color-2);
  border-color: var(--secondary-color-2);
  color: black;
}


.button3 {
  background-color: var(--secondary-color-1);
  border-color: var(--secondary-color-1);
  color: black;
}



.button1:hover, .button2:hover, .button3:hover {
  background-color: grey;
  border-color: grey;
}

span.magic{
  opacity: 0;
  color:white;  
  transition: all 1.5s ease;
}

span.magic.fadeIn{
  opacity: 1 !important;
  color: white !important; 
}


#simpleandelegant, #signupbutton{
  opacity: 0;
}


span.reimagined{
  color:white; 
  transition: all 1.5s ease; 
}

span.reimagined.fadeIn{
  color:var(--primary-color); 
  transition: all 1.5s ease;
}

span.reimagined.fadeOut{
  color: var(--secondary-color-2); 
  transition: all 1.5s ease;
}


.spacer{
  aspect-ratio: 900/300;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.layer1{
  background-image: url('./layer1.svg');
}

.layer2{
  background-image: url('./layer2.svg');
}