{% extends 'app/userBase.html' %}
{% block content %}
    <div class = "row justify-content-center text-center">
        <img src = "{{ profile_picture }}" id = "manageAccountProfilePicture">
        <h1>
            Welcome back, <span id = "accountName">{{ name }}<span>!
        </h1>
    </div>
    <div class = "row justify-content-center text-center">
        <div class = "col">
            <a href="{% url 'home' %}"
               class="gridBtn btn btn-lg btn-primary mx-1 bumpUp button2 shadow"
               data-tippy-content="Home">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="42"
                     height="42"
                     fill="currentColor"
                     class="bi bi-house"
                     viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                </svg>
            </a>
            <a id='logout'
               href="{% url 'logout' %}"
               class="gridBtn btn btn-lg btn-primary mx-1 bumpUp button1 shadow"
               data-tippy-content="Logout">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="42"
                     height="42"
                     fill="currentColor"
                     class="bi bi-box-arrow-right"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6 ps-lg-5">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="card-title text-center">Your Account</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   value="{{ user.username }}"
                                   class="form-control"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email"
                                   id="email"
                                   name="email"
                                   value="{{ user.email }}"
                                   class="form-control"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First name:</label>
                            <input type="text"
                                   id="first_name"
                                   name="first_name"
                                   value="{{ user.first_name }}"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last name:</label>
                            <input type="text"
                                   id="last_name"
                                   name="last_name"
                                   value="{{ user.last_name }}"
                                   class="form-control">
                        </div>
                    </form>
                    <button id="updateAccountButton"
                            class="btn btn-primary button1 btn-block mt-3">
                        Update Account Information
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="currentColor"
                             class="bi bi-person-up"
                             viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class = "col-lg-6 pe-lg-5">
            <div class = "card mt-5">
                <div class = "card-header">
                    <h3 class="card-title text-center">Change Profile Picture</h3>
                </div>
                <div class = "card-body">
                    <form method='post'
                          action="{% url "updateProfilePicture" %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="profile_picture"
                                   type="file"
                                   accept="image/*"
                                   class="form-control"
                                   id="profile_picture"
                                   aria-describedby="inputGroupFileAddon04"
                                   aria-label="Upload"
                                   required>
                            <button class="btn btn-primary"
                                    for="inputGroupFile04"
                                    type="submit"
                                    id="inputGroupFileAddon04">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "card mt-4">
                <div class = "card-header">
                    <h3 class="card-title text-center">User Stats</h3>
                </div>
                <div class = "card-body">
                    <p>Total Notes: {{ numberOfNotes }}</p>
                    <p>Total Folders: {{ numberOfNotes }}</p>
                    <p>Favorite Background: {{ favoriteBackground }}</p>
                    <p>Friends: {{ friends }}</p>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="accountUpdateSuccess"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class = "modal-body">
                        <div class = "row justify-content-center">
                            <div class = "col text-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="120"
                                     height="120"
                                     fill="currentColor"
                                     class="bi bi-person-check"
                                     viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                                </svg>
                                <p style = "font-size:125%">Account Information Successfully Changed!</p>
                            </div>
                        </div>
                    </div>
                    <div class = "modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade"
             id="accountUpdateError"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class = "modal-body">
                        <div class = "row justify-content-center">
                            <div class = "col text-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="120"
                                     height="120"
                                     fill="currentColor"
                                     class="bi bi-person-fill-lock"
                                     viewBox="0 0 16 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a1.9 1.9 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1" />
                                </svg>
                                <p style = "font-size:125%">Username or Email already in use.</p>
                            </div>
                        </div>
                    </div>
                    <div class = "modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
