
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NoteWorks</title>
    {% load static %}
    <link rel="icon" type="image/x-icon"  href="{% static 'app/favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/front.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>



</head>

<body style="background-color:black">
    <nav class="navbar bg-dark navbar-dark navbar-expand-sm bg-body-tertiary sticky-top" id="navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><div id="brand" class="navbarm" style="margin-left:40px; font-size:120%">
                <img src="{% static 'app/whiteNoteIcon.png' %}" alt="Logo" class="d-inline-block align-text-top mt-1" id="logo" style="width:30px;">
                NoteWorks
            </div></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuItems">
                <ul class = "navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class = "nav-item me-4">
                        <a href= "{%url 'home' %}" class = "navbarm nav-link active" aria-current="page">
                            <div class = "fs-5">Home</div>   
                        </a>
                    </li>
                    <li class="nav-item me-3">
                        <a href= "{% url 'register' %}" class="navbarm nav-link active" tabindex="-1" aria-disabled="true">
                            <div class = "fs-5">Sign Up</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href= "{% url 'loginpage' %}" class=" navbarm nav-link active">
                                <div class = "fs-5"><button class="btn geist btn-primary button1">Login</button></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <div class="container-fluid">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha384-4D3G3GikQs6hLlLZGdz5wLFzuqE9v4yVGAcOH86y23JqBDPzj9viv0EqyfIa6YUL" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'app/front.js' %}"></script>
   
  

</body>



   
    