{% extends "app/base.html" %}
{% block content %}
<div class = "container-fluid text-center frontpage">
  <div class = "row" id="top">
    <div class = "col">
      <h1 style="font-size:65px; margin-top:80px">NoteWorks 5. Notes <span class = "color-0">Reimagined.</span></h1>
      <h1 style="font-size:55px">Bigger. Better. Faster.</h1>
      <h1 class="font-size-lg">Join today for free.</h1>
      <p style="margin-top:30px"><a class= "fbutton" href= "{% url 'register' %}"><button type="button" class="btn btn-lg btn-primary button1">Sign Up</button></a></p>
    </div>
  </div>
  <div class="row" id="top2">
    <div class="col">
    </div>
  </div>
  {%load static%}
  <div class="row text-center align-items-center justify-content-center" id="middle">
    <div class ="col text-center" id="middletext">
      <h1>Now <i class="color-2">supercharged</i> with <i class = "color-2">NW5</i> deep search.</h1>
      <h1>Find any notes anytime, anywhere.</h1>
      <a href = "{% url 'userlogin' %}" class="homelink"><h3>Try now &gt;</h3></a>
    </div>
  </div>
  <div class="row text-center align-items-center justify-content-center" id="bottom">
    <div class ="col-md-6 text-center infobox" style = "background-color:white; color:black">
      <h1>Notes.</h1>
      <h1>Powered by Next Generation AI techonology
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
          <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        </svg>
      .
      </h1>
      <a class = "homelink" href= "{% url 'register' %}"><h2 class="color-0">Learn more &gt;</h1></a>
    </div>
    
    <div class ="col-md-6 text-center infobox" style = "background-color:black; color:white">
      <h1>All your notes in one place.</h1>
      <h1>Saved to the Cloud
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
          <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
      .
      </h1>
      <a class = "homelink" href= "{% url 'register' %}"><h2 class="color-2">Join Today &gt;</h1></a>
    </div>
    
  </div>
  <div class="row text-center align-items-center justify-content-center" id = "contact">
    <div class="col text center">
        <p>This website was made for purely educational and personal purposes and is not a commerical product. Created by Isaac Song.</p>
    </div>
  </div>
</div>

{% endblock %}