{% extends "app/base.html" %}

{% block content %}
    <div class ="spacer layer2">
        <div class="container loginForm" class = "info">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="col-md-10 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading", style = "color:white"><h3>Sign Up for NoteWorks</h3></div>
                        <div class="panel-body">
                            <div class = "col-md-8 py-2">
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'google' process='signup' %}" class="btn btn-light rounded-pill mx-1">
                                    <div class = "px-3">
                                        {% load static %}
                                        <img src="{% static "app/Google.png" %}" alt="Google logo" height="20" width="20" style = "margin-bottom:2px;"/>
                                        Google
                                    </div>
                                </a>
                                <!-- currently not working 
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'facebook' proess='signup' %}" class="btn btn-light rounded-pill mx-1">
                                    <div class = "px-3">
                                        {% load static %}
                                        <img src="{% static "app/Facebook.png" %}" alt="Google logo" height="20" width="20" style = "margin-bottom:2px;"/>
                                        Facebook
                                    </div>
                                </a>
                                -->
                            </div>
                            <div class = "col-md-5 text-center py-0">
                                <div style = "color:white;">or</div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Username<span style="color:red">*</span></label>
                                <div class="col-md-5">
                                    {{ form.username }}
                                </div>
                            </div>
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Email<span class="text-red">*</span>:</label>
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                            </div>
                            -->
                            <div class="form-group clearfix">
                                <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Password<span style="color:red">*</span></label>
                                <div class="col-md-5">
                                    {{ form.password }}
                                </div>
                            </div>
                            {% if error_message %}
                                <div class="alert alert-danger mt-3" style = "width:50%;">{{ error_message }}</div>
                            {% endif %}
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">First Name:</label>
                                <div class="col-md-6">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Last Name:</label>
                                <div class="col-md-6">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Phone Number:</label>
                                <div class="col-md-6">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            -->

                            <div class="col-md-6 col-md-offset-4" style="margin: 15px 0px 10px 0px">
                                <input type="submit" value="Register" class="btn btn-primary button1">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a class = "credentialsAlt" href = "{%url 'loginpage' %}">Already have an account? Login here!</a>
        

        </div>
    </div>
{% endblock %}