{% extends "app/base.html" %}
{% block content %}
    <div class="spacer layer2 container-fluid">
        <div class="row align-items-center justify-content-center loginForm">
            <div class="col-md-5 col-md-offset-2 loginCard px-4 py-4">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Sign Up</h3>
                        </div>
                        <p>Sign in with:</p>
                        <div class="panel-body">
                            <div class="col-md-12 py-1">
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'google' process='signup' %}"
                                   class="btn btn-light rounded-pill mx-1 googleButton">
                                    <div class="px-4">
                                        {% load static %}
                                        <!--djlint:off-->
                                        <img src="{% static "app/Google.png" %}"
                                             alt="Google logo"
                                             height="20"
                                             width="20"
                                             style="margin-bottom:2px" />
                                        <!--djlint:on-->
                                        Google
                                    </div>
                                </a>
                                <!-- currently not working
                                {% load socialaccount %}
                                <a href="{% provider_login_url 'facebook' proess='signup' %}" class="btn btn-light rounded-pill mx-1">
                                    <div class = "px-3">
                                        {% load static %}
                                        <img src="{% static "app/Facebook.png" %}" alt="Google logo" height="20" width="20" style = "margin-bottom:2px;" />
                                        Facebook
                                    </div>
                                </a>
                                -->
                            </div>
                            <div class="col-sm-12 text-center py-0">
                                <div>or</div>
                            </div>
                            <div class="form-group clearfix pb-1">
                                <label for="{{ form.username.id_for_label }}"
                                       class="col-md-4 control-label text-right">
                                    Username<span class="requiredInput">*</span>
                                </label>
                                <div class="col-sm-12">{{ form.username }}</div>
                            </div>
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Email<span class="text-red">*</span>:</label>
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                            </div>
                            -->
                            <div class="form-group clearfix">
                                <label for="{{ form.password.id_for_label }}"
                                       class="col-md-4 control-label text-right">
                                    Password<span class="requiredInput">*</span>
                                </label>
                                <div class="col-sm-12">{{ form.password }}</div>
                            </div>
                            {% if error_message %}<div class="alert alert-danger mt-3">{{ error_message }}</div>{% endif %}
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">First Name:</label>
                                <div class="col-md-6">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Last Name:</label>
                                <div class="col-md-6">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Phone Number:</label>
                                <div class="col-md-6">
                                    {{ form.phone_number }}
                                </div>
                            </div>
-->
                            <div class="col-sm12 col-md-offset-4">
                                <input type="submit" value="Register" class="btn btn-primary button1 mt-3 mb-1">
                            </div>
                        </div>
                    </div>
                    <a class="credentialsAlt" href="{% url 'loginpage' %}">Already have an account? Login here!</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
