{% extends "app/base.html" %}

{% block content %}
    <div class ="spacer layer2">
        <div class="container loginForm" class = "info">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading", style = "color:white"><h3>Register</h3></div>
                        <div class="panel-body">
                            {% if error_message %}
                                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                            {% endif %}
                        
                            <div class="form-group clearfix">
                                <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Username<span class="text-red">*</span>:</label>
                                <div class="col-md-6">
                                    {{ form.username }}
                                </div>
                            </div>
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Email<span class="text-red">*</span>:</label>
                                <div class="col-md-6">
                                    {{ form.email }}
                                </div>
                            </div>
                            -->
                            <div class="form-group clearfix">
                                <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Password<span class="text-red">*</span>:</label>
                                <div class="col-md-6">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Confirm password:</label>
                                <div class="col-md-6">
                                    {{ form.password_repeat }}
                                </div>
                            </div>
                            <!--
                            <div class="form-group clearfix">
                                <label for="{{ form.first_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">First Name:</label>
                                <div class="col-md-6">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="{{ form.last_name.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Last Name:</label>
                                <div class="col-md-6">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            
                            <div class="form-group clearfix">
                                <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right" style = "color:white">Phone Number:</label>
                                <div class="col-md-6">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            -->

                            <div class="col-md-6 col-md-offset-4" style="margin: 15px 0px 10px 0px">
                                <input type="submit" value="Register" class="btn btn-primary button1">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a class = "credentialsAlt" href = "{%url 'loginpage' %}">Already have an account? Login here!</a>
        </div>
    </div>
{% endblock %}