.frontpage{
    color: white;
    text-align: center;  
}
#navbar-custom {
    background-color: black !important;
    color: white; 
}
#brand{
    color: white; 
}
.navbarm{
    margin: 0px 0px; 
}
.info {
    text-align: center; 
}

.fbutton{
    padding:2px 2px;
}
#logo{
    background-color: black; 
    width:30px; 
    height:30px; 
}
#top{ 
    background-color: black; 
    margin-top: 5px;
}
#top2{
  background-image: url("Computer\ backgroud1.jpg");
  height:500px; 
  scale: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#middle {
    background-image: url("background3.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 575px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  #bottom {
    background-color: white;
    color: black;
    padding: 75px;
  }
  #middletext{
    border:5px solid white;
    margin:0px 100px; 
    padding:25px; 
  }
  #homelink{
    color: white; 
    text-decoration: none;
  }

  #contact{
    background-color: grey;
    color: white;
    padding: 30px; 
  }